@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

  .montserrat-regular {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    padding: 0 1.5rem;
}

.h1 {
    padding: 1.5rem 0 1.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.menu {
    overflow-x: auto; /* Enables horizontal scrolling */
    scrollbar-width: none;
    background-color: lightcyan;
    border-radius: 5px;
}

.menu-list {
    display: flex;
    gap: 3rem;
    /* padding: 10px 0; */
    /* margin: 0; */
    list-style: none;
}

.menu-item {
    padding: .25rem .5rem;
    text-align: center;
    white-space: nowrap; /* Prevents items from wrapping */
    cursor: pointer;
}

.menu-item:hover {
    background-color: #555; /* Change background on hover */
}

.post-container {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.post {
    padding: 1rem .5rem;
    border-bottom: 1px solid black;
}

.post-details {
    margin-top: .5rem;
}

.day {
    width: 9ch;
}

li {
    list-style-type: none;
}

.post-header-ul {
    display: flex;
    flex-direction: column;
    padding: 0 .5rem;
}

.post-header-li {
    text-align: center;
}

.post-header-div {
    display: flex;
    justify-content: space-between;
}

.post p {
    line-height: 1.5;
    margin-top: .5rem;
}

.post-container ul {
    display: flex;
}

.post-ul {
    display: flex;
}

.post-ul img {
    display: block;
}

.post-item:first-child {
    margin-right: 1rem;
}

.post-item h2, .post-item h3 {
    font-size: .5rem;
}

.post-header-li {
    text-align: center;
}

.post-date {
    display: flex;
}

.event {
    padding: 1rem 0;
}

.event-post {
    display: flex;
    gap: 1rem;
    border-bottom: 1px solid black;
    padding: .5rem 0;
}

.event-date {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event-title {
    font-weight: bold;
}

.around-town {
    padding: 1rem 0;
}

.around-town-post {
    padding: 1rem 0;
    border-bottom: 1px solid black;
}

.around-town-location {
    padding-top: .5rem;
}

.around-town-description {
    padding-top: .5rem;
}

